body {
    background-image: url("../../assets/images/download.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; 
    background-size: cover;
    min-height: 100%;
}

.container {
    min-height: 800px;
    padding-top: 25%;
}