.mapbody {
  background-image: url("../../assets/images/gradient.png");
  min-height: 900px;
}



.studio:before {
    content: ' ';
    display: inline-block;
    width: 8px;
    height: 8px;
    background: purple;
    border-radius: 8px;
    margin: 0 8px;
  }
  .studio {
    border-radius: 20px;
    padding-right: 12px;
    margin: -12px;
    color: transparent;
    line-height: 24px;
    font-size: 13px;
    white-space: nowrap;
  }
  .studio span {
    display: none;
  }
  .studio:hover {
    background:black;
    color: white;
  }
  .studio:hover span {
    display: inline-block;
  }
  

  .mapboxgl-ctrl {
    width: 30px;
    position: 'absolute';
    top: 0;
    left: 0;
    margin: 10;
  }